*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#waiting{
    display: none;
}
.d-block{
    display: block !important;
}
.d-none{
    display: none !important;
}
.list-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: .9;

}
.horizontal-container{
    display: flex;
    flex-direction: row;
}
.vertical-container{
    display: flex;
    flex-direction: column;
}
